.forest-dropdown {
  position: relative;
  width: 100px;
  z-index: 20;
  font-family: "Trebuchet MS", sans-serif;
}

.forest-dropdown-btn {
  cursor: pointer;
  user-select: none;
  padding: 8px 14px;
  border-radius: 10px;
  /* background: linear-gradient(135deg, #d2a679, #a9744f);
   */
   background-color: #28b3a3;
  /* color: #ffffff; */
  color: rgb(248, 246, 246);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3),
              0 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  border: 1.5px solid #FFFFFF;
}

.forest-dropdown-btn:hover {
  transform: scale(1.03);
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.forest-dropdown-menu {
  position: absolute;
  width: 100%;
  margin-top: 6px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.forest-dropdown-item {
  padding: 8px 14px;
  cursor: pointer;
  background: linear-gradient(135deg, #c89f6c, #9e704d);
  color: #ffffff;
  font-weight: 500;
  transition: background 0.2s ease;
}

.forest-dropdown-item:hover {
  background: linear-gradient(135deg, #8b5a2b, #6b4226);
}
