.listing-page {
  padding: 20px;
  /* font-family: 'Comic Sans MS', cursive, sans-serif; */
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-color: white;
  min-height: 100vh;
}

.page-title {
  text-align: center;
  color: #3d5af1;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.tool-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.tool-card:hover {
  transform: translateY(-5px);
}

.tool-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.tool-name {
  color: #FF570F;
  font-weight: bolder;
  /* font-size: 1.5rem; */
}

.try-now-btn {
  background-color: #FF9E80;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 20px;
  /* font-size: 1.1rem; */
  cursor: pointer;
  transition: all 0.3s ease;
  /* font-family: 'Comic Sans MS', cursive, sans-serif; */
}
.img-div {
  width: 95%;
  height: 150px;
  display: flex;
  justify-content: center;  
  /* align-items: center;      */
  overflow: hidden;   
  /* border: 1px solid lightgrey; */
  border-radius: 8px;       
}
.try-now-btn:hover {
  background-color: #FF570F;
  transform: scale(1.05);
}
/* Custom scrollbar styles if tailwindcss-scrollbar plugin is not used */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;

}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* slate-400 */
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background:none; /* slate-100 */
  border-radius: 9999px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .tools-container {
    flex-direction: column;
    align-items: center;
  }
  
  .tool-card {
    width: 90%;
  }
  
  .page-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .listing-page {
    padding: 15px;
  }
  
  .tool-card {
    width: 100%;
  }
  
  .page-title {
    font-size: 1.8rem;
  }
}